@model UsuarioModel
@{
    ViewData["Title"] = "Usuário";
}

<h2>Detalhes</h2>
<script defer src="~/js/Usuario.js"></script>

<div class="container-fluid">
    <form asp-action="Detalhes" method="post">
        <input type="hidden" asp-for="Detalhe.IdUsuario" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Detalhe.IdUsuario" class="control-label"></label>
                    <input asp-for="Detalhe.IdUsuario" class="form-control" disabled />
                </div>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-geral-tab" data-toggle="tab" href="#nav-geral" role="tab" aria-controls="nav-geral" aria-selected="true">Geral</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-geral" role="tabpanel" aria-labelledby="nav-geral-tab">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhe.Nome" class="control-label"></label>
                            <input asp-for="Detalhe.Nome" class="form-control" required />
                            <span asp-validation-for="Detalhe.Nome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhe.Login" class="control-label"></label>
                            <input asp-for="Detalhe.Login" class="form-control" required />
                            <span asp-validation-for="Detalhe.Login" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhe.CPF" class="control-label"></label>
                            <input asp-for="Detalhe.CPF" class="form-control" required type="number" />
                            <span asp-validation-for="Detalhe.CPF" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhe.Email" class="control-label"></label>
                            <input asp-for="Detalhe.Email" class="form-control" required type="email" />
                            <span asp-validation-for="Detalhe.Email" class="text-danger"></span>
                        </div>
                    </div>
                    @if (Model.Detalhe.IdUsuario != 0)
                    {
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Detalhe.ValidadeSenha" class="control-label"></label>
                                <input asp-for="Detalhe.ValidadeSenha" class="form-control" disabled type="date" />
                                <span asp-validation-for="Detalhe.ValidadeSenha" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Detalhe.Status" asp-items="Model.Status" class="form-control" required></select>
                            <span asp-validation-for="Detalhe.Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Perfis" class="control-label"></label>
                            <select asp-for="Detalhe.PerfilUsuario" asp-items="Model.Perfis" class="form-control" required></select>
                            <span asp-validation-for="Detalhe.PerfilUsuario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-primary"><i class="fas fa-undo"></i>Voltar</a>
                            <button type="submit" class="btn btn-warning">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

