@model UsuarioModel
@{
    ViewData["Title"] = "Usuários";
}
<script defer src="~/js/Usuario.js"></script>
<div class="card border-primary">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group">
                    <label asp-for="Filtro.IdUsuario" class="control-label"></label>
                    <input asp-for="Filtro.IdUsuario" type="number" class="form-control" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Filtro.Nome" class="control-label"></label>
                    <input asp-for="Filtro.Nome" class="form-control" />
                </div>
            </div>


            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Filtro.Status" class="control-label"></label>
                    <select asp-for="Filtro.Status" asp-items="Model.Status" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Filtro.PerfilUsuario" class="control-label"></label>
                    <select asp-for="Filtro.PerfilUsuario" asp-items="Model.Perfis" class="form-control"></select>
                </div>
            </div>
            <div class="col">
                @if (SharedValues.UsuarioLogado != null && SharedValues.UsuarioLogado.PerfilUsuario == PUCMinasTCC.Domain.Enums.enumPerfilUsuario.Administrador)
                {
                    <a asp-action="Detalhes" class="btn btn-success"><i class="fas fa-plus"></i>Adicionar</a>
                }
                else
                {
                    <a asp-action="Detalhes" class="btn btn-success disabled"><i class="fas fa-plus"></i>Adicionar</a>

                }
                <button type="button" class="btn btn-warning" onclick="Pesquisar('@Url.Action("Pesquisar")')"><i class="fas fa-search"></i> Pesquisar</button>
            </div>
        </div>
    </div>
</div>
<div id="gridItems">
    <partial name="_ListaItens" model="Model.Itens" />
</div>

