@model ReceitaModel
@{
    ViewData["Title"] = "Receitas";
}

<h2>Detalhes</h2>
<script defer src="~/js/Receita.js"></script>

<div class="container-fluid">
    <form asp-action="Detalhes" method="post">
        <input type="hidden" asp-for="Detalhe.IdReceita" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Detalhe.IdReceita" class="control-label"></label>
                    <input asp-for="Detalhe.IdReceita" class="form-control" disabled />
                </div>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-geral-tab" data-toggle="tab" href="#nav-geral" role="tab" aria-controls="nav-geral" aria-selected="true">Geral</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-geral" role="tabpanel" aria-labelledby="nav-geral-tab">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhe.Ano" class="control-label"></label>
                            <input asp-for="Detalhe.Ano" class="form-control" placeholder="____" required  />
                            <span asp-validation-for="Detalhe.Ano" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhe.CNPJ" class="control-label"></label>
                            @Html.TextBoxFor(model => model.Detalhe.CNPJ, new { @class = "form-control", @id = "cnpj", @placeholder ="__.___.___/____-__" })
                            <span asp-validation-for="Detalhe.CNPJ" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Detalhe.OrcamentoAtualizado" class="control-label"></label>
                            <input asp-for="Detalhe.OrcamentoAtualizado" class="form-control" required />
                            <span asp-validation-for="Detalhe.OrcamentoAtualizado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label asp-for="Detalhe.ReceitaRealizada" class="control-label"></label>
                        <input asp-for="Detalhe.ReceitaRealizada" class="form-control" required />
                        <span asp-validation-for="Detalhe.ReceitaRealizada" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Detalhe.PorcentagemPrevisto" class="control-label"></label>
                        <input asp-for="Detalhe.PorcentagemPrevisto" class="form-control" required />
                        <span asp-validation-for="Detalhe.PorcentagemPrevisto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Detalhe.ValorLancado" class="control-label"></label>
                        <input asp-for="Detalhe.ValorLancado" class="form-control" required />
                        <span asp-validation-for="Detalhe.ValorLancado" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-primary"><i class="fas fa-undo"></i>Voltar</a>
                            <button type="submit" onclick="RemoveMaskAndSubmit()" class="btn btn-warning">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

