@{
    ViewData["Title"] = "Sistema de gestão da qualidade";
}

@*<style>
    body {
        background-image: url("../images/teste3.png");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
</style>*@
@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
